:root {
    --primary-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    /* font-family: 'PT Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}

img {
    display: block;
    max-width: 100%; /* max-width để khi ảnh lớn hơn thẻ cha chứa nó thì width sẽ là 100%, còn nhỏ hơn thì như mặc định */
}

.container {
    width: 100%;
    max-width: 1530px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 10rem;
}

.services {
    background-image: url('../assets/images/img-2.jpg');
}

.products {
    background-image: url('../assets/images/img-1.jpg');
}

.sign-up {
    background-image: url('../assets/images/img-8.jpg');
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .title {
        font-size: 8rem;
    }
}

/* Mobile*/
@media (max-width: 739px) {
    .title {
        font-size: 4rem;
    }
}
